body {
  background-color: #f9f7fe;
  font-family: sans-serif;
  color: #272142;
  background-image: url("../assets/img/background-friends-elements.png");
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Header */
h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 0;
}

.permanent-marker-regular {
  letter-spacing: 5px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.red {
  color: #ff181e;
  position: relative;
  top: -10px;
}

.blue {
  color: #00b4ea;
  position: relative;
  top: -10px;
}

.yellow {
  color: #ffbc00;
  position: relative;
  top: -10px;
}

/* Time & Date display */
h2 {
  margin: 0 0 10px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  font-size: 18px;
}

.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}

.time {
  font-size: 36px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

.date {
  opacity: 0.7;
}

/* Footer */
.back-homepage {
  text-align: center;
}

.back-homepage a {
  color: #995256;
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

/* Pictures */
.couch-central-perk {
  max-width: 450px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.central-perk-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto 20px;
}
